<div class="grid grid-cols-4 gap-2 p-2">
    <div class="col-span-4 flex justify-center">
        <span class="w-3/4 text-center font-sans text-xl font-extrabold text-slate-800">Calculadora</span>
    </div>
    <div class="col-span-4 flex justify-center md:mb-7">
        <span class="w-3/4 text-center font-sans text-base text-slate-800">Puede realizar las 4 operaciones básicas en números octales, binarios y hexadecimales</span>
    </div>
    <div class="rounded md:col-span-1 col-span-4 flex justify-center">
        <div class="md:w-1/2  w-full grid grid-cols-12">
                    
        <div class="col-span-12">
            <label for="price" class="block text-center text-sm font-medium leading-6 text-gray-900">Sistema numérico:</label>
            <div class="rounded-md shadow-sm">
                <select [(ngModel)]="base" (ngModelChange)="clean()" id="sys" name="sys" class="block w-full p-2 border rounded-md shadow-sm focus:ring focus:ring-blue-300 focus:border-blue-300 bg-sky-500 text-white border-cyan-300">
                    <option value="2">Binario</option>
                    <option value="8">Octal</option>
                    <option value="16">Hexadecimal</option>
                </select>
            </div>
        </div>
        <div class="col-span-12">
            <label for="price" class="block text-center text-sm font-medium leading-6 text-gray-900">Operación:</label>
            <div class="rounded-md shadow-sm">
                <select [(ngModel)]="operator" (ngModelChange)="clean()" id="op" name="op" class="block w-full p-2 border rounded-md shadow-sm focus:ring focus:ring-blue-300 focus:border-blue-300 ">
                    <option value="+">Sumar</option>
                    <option value="-">Restar</option>
                    <option value="*">Multiplicar</option>
                    <option value="/">Dividir</option>
                </select>
            </div>
          </div>
        </div>
    </div>
    <div  class=" rounded md:col-span-3 col-span-4 flex md:justify-start justify-center p-2">
        <div class="grid grid-cols-12 place-content-center w-full sm:mt-7">
            <div class="col-span-12 text-center">
                <p>Ingrese los números a operar:</p>
            </div>
            <div class="col-span-12 h-full">
                <div class="grid grid-cols-12 items-center">
                    <div class="col-span-10">
                        <input (keypress)="changeInput($event)" [(ngModel)]="newInput" class="w-full border rounded-md shadow-sm focus:ring focus:ring-blue-300 focus:border-blue-300" type="text">
                    </div>
                    <div class="col-span-2">
                        <button class=" hover:fill-lime-500" (click)="addNumber()">
                            <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect width="24" height="24" fill="white"></rect> <path fill-rule="evenodd" clip-rule="evenodd" d="M13 9C13 8.44772 12.5523 8 12 8C11.4477 8 11 8.44772 11 9V11H9C8.44772 11 8 11.4477 8 12C8 12.5523 8.44772 13 9 13H11V15C11 15.5523 11.4477 16 12 16C12.5523 16 13 15.5523 13 15V13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H13V9ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z" fill="#0eab03"></path> </g></svg>
                        </button>
                        
                    </div>
                </div> 
            </div>

            <div class="col-span-12 flex justify-center" *ngIf="numbers.length > 0">
                <div>
                    <p class="text-2xl">F = <span *ngFor="let i of numbers; index as o"> <span *ngIf="o > 0"> {{operator}}</span> {{i}} </span></p>
                </div>
            </div>
            

            <div   class="h-24 col-span-12 rounded text-white flex justify-center items-center">
                <button class="group relative h-12 w-48 overflow-hidden rounded-2xl bg-sky-500 text-lg font-bold text-white">
                    Calcular
                    <div class="absolute inset-0 h-full w-full scale-0 rounded-2xl transition-all duration-300 group-hover:scale-100 group-hover:bg-white/30"></div>
                  </button>
            </div>
        </div>
    </div>
    
    
</div>

