<div class="w-full  grid grid-cols-12">
    <div class="col-span-12 text-center mt-2 ">
        <span class="text-2xl font-sans text-2xl font-extrabold text-slate-800"> Historia del Álgebra de Boole</span>
    </div>

    <div class="col-span-12 text-center flex justify-center ">
       <div class="w-1/2">
            <p>
                El álgebra de Boole fue desarrollada por el matemático y filósofo británico George Boole en el siglo XIX. En 1847, publicó su obra fundamental "The Mathematical Analysis of Logic", donde presentó sus ideas sobre el razonamiento lógico utilizando símbolos y operaciones matemáticas.

                Boole utilizó símbolos como 0 y 1 para representar el estado de verdad o falsedad de proposiciones, creando así una nueva forma de lógica simbólica. Introdujo operaciones como la conjunción (AND), la disyunción (OR) y la negación (NOT), que permitían manipular y analizar proposiciones lógicas de manera sistemática.

                Su trabajo se convirtió en la base del álgebra de Boole, una rama importante de las matemáticas y una piedra angular en el desarrollo de la teoría de circuitos electrónicos y la computación moderna. Gracias a su impacto, George Boole es considerado uno de los padres fundadores de la informática y la lógica matemática.
            </p>
       </div>
    </div>

    <div class="col-span-12 text-center flex justify-center mt-2">
        <div class="w-1/2">
             <p>
                Boole utilizó símbolos como 0 y 1 para representar el estado de verdad o falsedad de proposiciones, creando así una nueva forma de lógica simbólica. Introdujo operaciones como la conjunción (AND), la disyunción (OR) y la negación (NOT), que permitían manipular y analizar proposiciones lógicas de manera sistemática.
                Su trabajo se convirtió en la base del álgebra de Boole, una rama importante de las matemáticas y una piedra angular en el desarrollo de la teoría de circuitos electrónicos y la computación moderna. Gracias a su impacto, George Boole es considerado uno de los padres fundadores de la informática y la lógica matemática.
                Operaciones básicas del álgebra de Boole:
             </p>
        </div>
     </div>

     <div class="col-span-12 flex justify-center mt-2">
        <div class="w-1/2">
             <pre>
1. Conjunción (AND):
    La operación de conjunción se representa con el símbolo “∧” y se utiliza para 
    combinar dos proposiciones (A y B). La proposición resultante es verdadera (1)
    solamente si ambas proposiciones A y B son verdaderas (1). Si alguna de las
    proposiciones es falsa (0), el resultado será falso (0).
    Ejemplo:
        - A = 1 (verdadero)
        - B = 0 (falso)
        A∧B=1∧0=0(falso)
             </pre>
        </div>
     </div>

     <div class="col-span-12 flex justify-center mt-2">
        <div class="w-1/2">
             <pre>
2. Disyunción (OR):
    La operación de disyunción se representa con el símbolo “∨” y 
    también combina dos proposiciones (A y B). La proposición 
    resultante es verdadera (1) si al menos una de las proposiciones
    A o B es verdadera (1). Solo será falsa (0) si ambas 
    proposiciones son falsas (0).
    Ejemplo:
        - A = 1 (verdadero) -B=0(falso)
        A∨B=1∨0=1(verdadero)

3. Negación (NOT):
    La operación de negación se representa con el símbolo “¬” y se 
    aplica a una única proposición (A). Su función es invertir el 
    valor de la proposición original: si A es verdadera (1), la 
    negación de A será falsa (0), y si A es falsa (0), la negación
    de A será verdadera (1).
    Ejemplo:
        - A = 1 (verdadero)
        ¬A=¬1=0(falso)
    
    La conjunción (AND) combina proposiciones y da como 
    resultado una proposición verdadera solo si ambas proposiciones 
    son verdaderas. La disyunción (OR) también combina proposiciones,
    pero su resultado es verdadero si al menos una de las proposiciones
    es verdadera. La negación (NOT) invierte el valor de una proposición,
    de verdadera a falsa o viceversa. Estas operaciones básicas son 
    fundamentales en el álgebra de Boole y forman la base de la lógica
    matemática y las operaciones en sistemas digitales y computadoras.
             </pre>
        </div>
     </div>
    
</div>
